.info-container1{
    position:relative;
    left:200px;
    top:80px;
    display:grid;
    grid-row-gap:0.5rem;
    background-color: rgba(186, 195, 230, 0.774);
    padding:30px;
    width:65vw;
    border-radius:15px;
    box-shadow: 0px 0px 4px 1px gray;
} 

.row-1{
    display: grid;
    grid-template-columns: 1fr 4fr;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid gray;
    padding:30px;
}

.ri-user-line{
    font-size: 64px;
}

.doctor-info{
    display:flex;
    flex-direction: column;
}

.row-2{
    display:grid;
    grid-template-columns: repeat( 5 , 1fr) ;
    justify-content: center;
    align-items: center;
    /* padding:30px; */
}
.row-3{
    display:grid;
    grid-template-columns: repeat(5 , 1fr);
    justify-content: center;
    align-items: center;
}
.field-name{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    /* padding:3px; */
    margin-left: 5px;
    border-radius: 5px;
    color:black;
} 

.row-4{
    display:grid;
    grid-template-columns: repeat( 2 , 300px);
    /* justify-content: center; */
    align-items: center;
}