.signup-form-container{
    position:relative;
    top:12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup-form{
    position:relative;
    top:30px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 20px;
}
