@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");
@import url("https://cdn.jsdelivr.net/npm/remixicon@2.3.0/fonts/remixicon.css");

html::before {
  content: "";
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #0000008f;
  background-size: cover;
  background-position:center ;
}
html {
  background-image: url("https://cdn.leonardo.ai/users/3a4e9342-af57-4d48-82f7-ff67b840ff3a/generations/ac146cc4-34c0-4b03-90bc-66a7b33f65b7/DreamShaper_v7_generate_an_image_of_hospital_scene_with_a_hosp_0.jpg?w=512");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: center;
}
@media only screen and (max-width: 475px) {
  html::before {
    content: "";
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #0000008f;
    background-size: cover;
  }
  html {
    background-image: url("https://cdn.leonardo.ai/users/3a4e9342-af57-4d48-82f7-ff67b840ff3a/generations/2aa7492e-78cc-4c81-889e-68b691eda24f/DreamShaper_v7_generate_an_image_of_hospital_scene_with_a_hosp_1.jpg?w=512");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
  }
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
